body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.content-block {
  width: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
}
.header-text {
  color: rgb(141, 64, 64);
  border-bottom: black solid 1px;
}

.App {
  width: 1500px;
  min-height: 1000px;
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.18);
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* h1,
h2,
h3,
h4,
p,
span, */
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
