.checkout form {
  width: 600px;
  align-self: center;

  border-radius: 7px;
  padding: 0px 40px 20px 40px;
}

.checkout input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

.result-message {
  line-height: 40px !important;
  position: relative;
  display: flex;
  align-items: center;
  left: 25%;
  line-height: 22px;
  font-size: 30px;
  font-weight: bold;
  width: 400px;
  margin: 0;
  height: 100px;
  text-align: center;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#close-btn {
  font-size: 35px;
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 30px;
  color: rgb(0, 0, 0);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
.card-element {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */
.checkout form button {
  background: #df5b02;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.checkout button:hover {
  filter: contrast(115%);
}

.checkout button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #df5b02;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #df5b02;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
#payment-form > div {
  border: 1px solid gray;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 838px) {
  .modal-container {
    transform: translateX(1500px);
  }
  .not-transform {
    transform: translateX(0) !important;
  }
  .modal {
    height: 100%;
    width: 100vw;
  }
  .modal-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  #close-btn {
    font-size: 70px;
    margin-left: 20px;
    margin-top: 20px;
  }
  #payment-form {
    position: relative;

    margin: auto;
    margin-top: 20px;
    height: inherit;
  }
  #payment-form > div {
    margin-bottom: 30px;
    border: 1px solid gray;
  }
  #payment-form > div input {
    font-size: 25px;
    height: 50px;
  }
  #payment-form > button {
    height: 50px;
    font-size: 25px;
  }
  .result-message {
    display: block;
    width: 50vw;

    text-align: center;
  }
  .result-msg-container {
    display: flex;
    height: 50%;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .checkout form {
    width: 80vw;
  }
}
