#logo {
  height: 50px;
}
header {
  color: ghostwhite;
  background-color: #bb2904;
  display: flex;
  justify-content: space-around;
  border-radius: 2px 2px 2px 2px;
  width: 100%;
  margin: 0;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: center;
}
.logoPart {
  align-items: center;
  display: flex;
}
.logoPart a {
  color: white;
  text-decoration: none;
}
.searchbar {
  font-size: large;
  margin-right: 45px;
  padding-left: 10px;
  width: 300px;
  border-radius: 5px;
  height: 25px;
  outline: none;
  border: 0;
}
.auth {
  font-size: bold;
  display: flex;

  align-items: center;
}
.rightSide {
  display: flex;
}
#cartIcon {
  height: 30px;
}
.navbar-text {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.CartPart {
  align-items: center;
  display: flex;
  align-content: center;
}
.CartPart i {
  position: absolute;
  background-color: orange;
  width: 23px;
  text-align: center;

  margin-left: -5px;

  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.Signup {
  margin-right: 20px;
  text-decoration: underline;
  cursor: pointer;
}
.Signin {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}
nav a {
  margin-left: 5px;
  padding: 2px;
  color: #ffffff;
  text-decoration: none;
}
nav {
  width: 170px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.logo-navbar {
  display: flex;
}
.active-nav {
  background-color: rgb(202 62 62);

  box-shadow: 0 0px 1px rgb(253, 253, 253);
  padding: 3px;
  color: #ffffff;
}
.wrapper {
  display: none;
}

@media only screen and (max-width: 1090px) {
  .searchbar {
    width: 200px;
  }
}
@media only screen and (max-width: 838px) {
  header {
    display: none;
    transition-duration: 0.5s;
  }
  .searchbar {
    width: 200px;
    height: 30px;
  }
  .header-container {
    padding-bottom: 60px;
  }
  .menu-icon > .line {
    background-color: #ffffff;
    height: 2px;
    width: 40px;
    display: block;
    transition-duration: 0.1s;
  }
  .menu-icon {
    padding: 5px;
    border-radius: 10px;
  }
  .menu-icon > .line + .line {
    margin-top: 8px;
  }
  .menu-icon:active {
    border: white 1px solid;
    background-color: rgb(131, 131, 131);
    transition-duration: 0.1s;
  }

  .wrapper {
    height: 70px;
    margin-top: -10px;
    z-index: 6;
    display: flex;
    position: fixed;
    justify-content: space-around;
    transition-duration: 0.5s;
  }
  .header-modal {
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    transition-duration: 0.5s;
  }
  .header-modal ul {
    width: 100%;
    background-color: #bb2904;
    color: white;
    margin: 0;
    padding: 0;
  }
  .header-modal ul li a {
    color: white;
  }
  .header-modal ul li {
    display: flex;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.376);
  }
  .exit-btn {
    padding-left: 30px;
    justify-content: flex-start !important;
  }
  .exit-btn button {
    border: 0;
    padding: 0 10px;
    padding-top: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(173, 1, 1);
    font-size: 30px;
    transition-duration: 0.2s;
  }

  .exit-btn button:active {
    filter: brightness(50%);
    transition-duration: 0.2s;
  }
  .wrapper .logoPart,
  .wrapper .auth,
  .wrapper .rightSide,
  .wrapper nav,
  .wrapper .logo-navbar {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .wrapper .auth {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrapper .Signup {
    margin-right: 0;
  }
  .searchbar {
    margin-right: 0;
  }
}
