#logo {
  height: 40px;
}
header {
  color: ghostwhite;
  background-color: #504b49;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: center;
}
.logoPart {
  align-items: center;
  display: flex;
}
.searchbar {
  padding-left: 10px;
  width: 300px;
  margin-left: 40px;
  border-radius: 20px;
  height: 25px;
  outline: none;
}
.auth {
  font-size: bold;
  display: flex;

  align-items: center;
}
.rightSide {
  display: flex;
}
#cartIcon {
  height: 30px;
}
.CartPart {
  align-items: center;
  display: flex;
  align-content: center;
}
.Signup {
  margin-right: 20px;
}
.Signin {
  margin-right: 10px;
}
