#logo {
  height: 50px;
}
header {
  color: ghostwhite;
  background-color: #525252;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: center;
}
.logoPart {
  align-items: center;
  display: flex;
}
.logoPart a {
  color: white;
  text-decoration: none;
}
.searchbar {
  font-size: large;
  margin-right: 45px;
  padding-left: 10px;
  width: 300px;
  border-radius: 5px;
  height: 25px;
  outline: none;
  border: 0;
}
.auth {
  font-size: bold;
  display: flex;

  align-items: center;
}
.rightSide {
  display: flex;
}
#cartIcon {
  height: 30px;
}
.navbar-text {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.CartPart {
  align-items: center;
  display: flex;
  align-content: center;
}
.Signup {
  margin-right: 20px;
  text-decoration: underline;
  cursor: pointer;
}
.Signin {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}
nav a {
  margin-left: 5px;
  padding: 2px;
  color: #ffffff;
  text-decoration: none;
}
nav {
  width: 170px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo-navbar {
  display: flex;
}
.active-nav {
  background-color: rgb(65, 59, 59);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 1);
  padding: 3px;
  color: #ffffff;
}
@media only screen and (max-width: 1090px) {
  .searchbar {
    width: 200px;
  }
}
