#fruitsImage {
  width: inherit;
  object-fit: cover;
  height: inherit;
  position: absolute;
  border-radius: 5px;
  margin-right: 5px;
  filter: brightness(80%);
}
.main {
  width: inherit;
  margin-top: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.main h2 {
  font-size: 50px;
  align-self: center;
  text-align: center;
  opacity: 0.9;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: rgb(51, 51, 51);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: #ffffff;

  z-index: 1;
}
.main-page {
  width: inherit;
}
