.itemsList {
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  transition-duration: 0.3s;
  margin-left: 3px;
  transition-timing-function: ease-in-out;
}
.itemImg {
  height: 250px;
  width: 240px;
}

.itemload {
  width: 250px;
  height: 500px;
  border-right: none;
}
.item {
  width: 250px;
  height: 500px;
  border-right: none;
}
.item:hover {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.54);
}
.old-price {
  text-decoration: line-through;
  color: rgb(139, 139, 139);
}
.price {
  font-size: 20px;
}
#arrow-left {
  transform: rotate(180deg);
}
#arrow-left,
#arrow-right {
  margin-top: 1px;
  height: 20px;
}
.items-container {
  min-height: 500px;

  overflow: hidden;
  width: inherit;
  display: flex;
  padding: 0;

  padding-right: 5px;
  transition-duration: 0.3s;
}
.arrow-right-btn {
  margin-left: 100px;
}
.arrow-left-btn,
.arrow-right-btn {
  height: 25px;
  width: 50px;
  border-radius: 10px;
  background-color: rgb(243, 207, 146);
  border: 0;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 1);
}
.arrow-left-btn:active,
.arrow-right-btn:active {
  transform: translateY(2px);
  background-color: rgb(160, 132, 83) !important;
}
.arrow-left-btn:hover,
.arrow-right-btn:hover {
  background-color: rgb(241, 225, 197);
  transition-duration: 0.3s;
}
.tocart-btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 80, 81);
}
.tocart-btn:active {
  background-color: rgb(46, 46, 46) !important;
  transform: translateY(2px);
}
.tocart-btn:hover {
  background-color: rgb(122, 122, 122);
}
.item-name {
  font-size: 20px;
  height: 40px;
}
.item-price {
  color: brown;
  font-size: 30px;
  margin-top: 0;
}

.carousel {
  width: inherit;
}
.item-modal {
  transition-duration: 0.2s;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.376);
  margin-left: 61px;
  background-color: rgb(57, 134, 33);
  color: white;
  z-index: 5;
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  margin-top: -37px;
}
@media only screen and (max-width: 1570px) {
  .itemsList {
    margin-left: 7px;
  }
}
@media only screen and (max-width: 1090px) {
  .itemsList {
    margin-left: 4px;
  }
}

@media only screen and (max-width: 838px) {
  .items-container {
    width: 755px;
    margin-left: 25px;
  }
}
@media only screen and (max-width: 838px) {
  .items-container {
    width: 755px;
    margin-left: 25px;
  }
  .item:hover {
    box-shadow: none;
  }
  .item {
    border-right: gray 1px solid;
  }
}
@media only screen and (max-width: 818px) {
  .items-container {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .items-container {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 760px) {
  .items-container {
    width: 520px;
    margin-left: 110px;
  }
}
@media only screen and (max-width: 712px) {
  .items-container {
    width: 520px;
    margin-left: 90px;
  }
}
@media only screen and (max-width: 681px) {
  .items-container {
    width: 520px;
    margin-left: 75px;
  }
}
@media only screen and (max-width: 655px) {
  .items-container {
    width: 520px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .items-container {
    width: 520px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 555px) {
  .items-container {
    width: 520px;
    margin-left: 7px;
  }
}
@media only screen and (max-width: 540px) {
  .items-container {
    width: 310px;
    margin-left: 100px;
    height: 390px;
    padding-right: 0;
  }
  .carousel {
    height: 540px;
  }
  .item {
    width: 150px;
    height: 390px;
  }
  .itemsList {
    height: 340px;
  }
  .itemImg {
    width: 140px;
    height: 140px;
  }
  .item-name {
    height: 60px;
  }
}
@media only screen and (max-width: 487px) {
  .items-container {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 464px) {
  .items-container {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 453px) {
  .items-container {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 423px) {
  .items-container {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 408px) {
  .items-container {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 392px) {
  .items-container {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 368px) {
  .items-container {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 353px) {
  .items-container {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 335px) {
  .items-container {
    margin-left: 0px;
  }
  .itemsList {
    margin-left: 0;
  }
}
