.orderItems-list {
  list-style: none;
  padding: 0;
}
.orders {
  height: min-content;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 95%;
}
.orders-content {
  width: 90%;
}
.orders-content h1 {
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.order-list-items {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
#date-order {
  width: 150px;
  display: flex;
}
.order-list-items-container {
  border-right: black 1px solid;
  width: 100%;
}
.order-list-items-container h3 {
  text-align: center;
  margin-top: 0;
}
.order-list-items span {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
  line-height: 25px;
  padding: 5px;
  margin: 5px;
}

.order-list-date,
.order-list-totalAmount {
  height: 130px;
}
.order-list-dateTotal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.order-list {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.445);
  margin: 0 20px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 733px) {
  .order-list-items {
    justify-content: center;
  }
  .order-list {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .order-list-items-container {
    border-right: 0;
  }
  .order-list-dateTotal {
    display: flex;
  }
}
