.reviews-block {
  display: flex;
  justify-content: space-around;
  width: inherit;
  min-height: 600px;
}
.review p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
}
.review {
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  width: 400px;
  word-break: break-all;
  background: rgb(191, 24, 24);

  background: linear-gradient(
    90deg,
    rgba(191, 24, 24, 1) 50%,
    rgb(226, 161, 70) 50%
  );
}

.reviews-container {
  background: rgb(226, 161, 70);
  background: linear-gradient(
    90deg,
    rgb(226, 161, 70) 50%,
    rgba(191, 24, 24, 1) 50%
  );

  border-radius: 5px;
  width: inherit;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviews-container > .header-text {
  background-color: white;
  border-radius: 10px;
  border: none;
  width: 200px;
}
@media only screen and (max-width: 1570px) {
  .review p {
    height: inherit;
  }
}
@media only screen and (max-width: 1090px) {
  .review {
    height: max-content;
    margin-top: 20px;
  }
  .reviews-block {
    flex-wrap: wrap;
  }
}
