.shop-container {
  margin: 20px;
  min-height: 850px;
  width: 100%;
  display: flex;
}
.filter {
  height: 800px;
  width: 300px;
  background-color: rgb(121, 32, 32);
}
.items-grid-container {
  background-color: aqua;
  margin-right: 40px;
  margin-left: 40px;
  height: inherit;
  width: inherit;
}
.items-sort {
  display: flex;
  background-color: lightcoral;
  height: 50px;
}
.items-sort h3 {
  margin: 0;
}
.options-list {
  border: 3px solid black;
  position: relative;
  background-color: white;
  z-index: 2;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 900px;
  background-color: lightslategray;
}
.items-grid-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.items-grid-list .itemImg {
  height: 150px;
  width: auto;
  width: 150px;
}
.items-grid-list .item {
  height: 320px;
  width: 200px;
}
.items-pages {
  height: 50px;
  background-color: mediumblue;
}
