.shop-container {
  margin-top: 20px;
  margin-left: 40px;
  min-height: 850px;
  width: 99%;
  display: flex;
}
.filter-container {
  width: 240px;
}
.filter {
  margin-left: -20px;

  padding: 5px 0px;
  height: min-content;
  width: inherit;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  /* background-color: rgb(236, 236, 235); */
}
.filter li,
input[type="checkbox"] {
  user-select: none;
  cursor: pointer;
}
.filter > div {
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.filter > div h4 {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.filter > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.filter h2 {
  text-align: center;
  margin: 0;
}
.items-grid-container {
  border-top: 1px solid rgba(0, 0, 0, 0.18);

  margin-right: 40px;
  margin-left: 20px;
  height: inherit;
  width: inherit;
}
.items-sort {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 50px;
  align-items: center;
}
.items-sort h3 {
  margin: 0;
  margin-left: 30px;
}
.items-sort a {
  text-decoration: none;
}
.sort-popup {
  height: 30px;
  margin-left: 10px;
}
.sort-popup div span {
  padding-bottom: 1px;
  border-bottom: 1px dashed black;
}
.sort-popup div {
  cursor: pointer;
  user-select: none;
  font-weight: 300;

  color: rgb(128, 128, 128);
  margin: 0;
  padding: 0;

  margin-top: 5px;
  border-radius: 5px;
  width: max-content;
  font-size: 20px;
}
.lowlight {
  color: rgb(143, 143, 143);
}
.options-list {
  font-size: 20px;
  border-radius: 10px;
  margin-left: -10px;
  padding-left: 0;
  padding: 10px;
  list-style: none;
  color: black;
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.18);
  position: relative;
  background-color: white;
  z-index: 2;
}
.options-list li {
  margin-bottom: 5px;
  z-index: 3;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;

  min-height: 900px;
  background-color: rgb(255, 255, 255);
}

.items-grid-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
}
.items-grid-list .itemImg {
  height: 150px;
  width: auto;
  width: 150px;
}
.items-grid-list .item {
  border-right: 0;
}
.items-grid-list .item {
  margin-bottom: 5px;
  height: 350px;
  width: 200px;
}
.items-grid-list .item-modal {
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.376);
  margin-left: 37px;
  background-color: rgb(57, 134, 33);
  color: white;
  z-index: 5;
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  margin-top: -37px;
}
.items-pages {
  border-top: 1px solid rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.items-pages a {
  text-decoration: none;
  color: black;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;

  height: 25px;
  width: 30px;
}
.active-page {
  background-color: rgb(197, 197, 197) !important;
}
.just-page {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 1);
  border-radius: 3px;

  text-align: center;
  width: inherit;
  height: inherit;
  font-size: 18px;
}
.price-range-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.price-range-text span {
  font-weight: 600;
  text-align: center;
  width: 50px;
  margin: 10px;
}
.price-range-text span p {
  margin-top: 0;
  margin-bottom: 8px;
}
.price-range-text span input::-webkit-outer-spin-button,
.price-range-text span input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-range-text span input {
  -moz-appearance: textfield;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  font-size: large;
  text-align: center;
  margin: 0;
  padding: 0;

  width: 100%;
}

.price-range-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.noUi-connect {
  background-color: rgb(221, 134, 134) !important;
}
.noUi-handle {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5) !important;
  width: 20px !important;
  height: 25px !important;
}
.noUi-target {
  width: 70% !important;
}
.noUi-handle-lower {
  margin-right: 15px;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none !important;
}
.noUi-active {
  background-color: rgb(221, 221, 221) !important;
}
.filter-btns {
  padding-top: 20px;
  display: flex;

  justify-content: space-around;
}
.filter-btns button {
  font-size: 25px;
  background-color: white;
  border: 0;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  font-weight: 600;
}
#show-btn {
  color: brown;
  background-color: rgb(255, 218, 218);
}
#clear-btn {
  background-color: rgb(236, 236, 236);
  color: rgb(131, 131, 131);
}
#open-filter {
  display: none;
}
.adaptive-filter {
  display: none;
}
#searched-for {
  margin-left: 20px !important;

  margin-right: 20px;
}
@media only screen and (max-width: 1570px) {
  .items-grid {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 838px) {
  .shop-container {
    width: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  .filter {
    margin-left: 20px;
  }
  .items-grid-container {
    margin-right: 0;
  }
  .items-grid {
    margin-left: 60px;
  }
  .items-sort {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 760px) {
  .items-grid {
    margin-left: 20px;
  }
  .items-sort {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 696px) {
  .filter {
    margin-left: 10px;
    width: 200px;
  }

  .items-grid {
    margin-left: 5px;
  }
  .items-sort {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 650px) {
  .shop-container {
    width: inherit;
    margin-left: 0;
    margin-right: 0;
  }

  .filter-container {
    width: 0;
  }
  .filter {
    display: none;
  }
  .adaptive-filter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: block;
    background-color: white;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;
  }
  #open-filter {
    display: flex;
    cursor: pointer;
    color: gray;
    text-decoration: underline solid;
  }
  .items-grid-list {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .items-grid-list .item {
    border-bottom: 1px gray solid;
  }
  .items-grid-list .item:hover {
    box-shadow: none;
  }
  .items-sort {
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
  }
  .items-grid {
    margin-left: 0;
  }
  .items-sort {
    margin-left: 0;
  }
  .items-sort > h3 {
    margin-right: 20px;
    margin-left: 0;
  }
  .items-grid-container {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 423px) {
  .items-sort div {
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .items-sort div h3 {
    margin-left: 0;
  }
  .sort-popup div {
    margin-left: 0;
  }

  #searched-for {
    margin-right: 5px;
  }
  .items-sort {
    justify-content: space-between;
  }
}
