.single-item {
  width: 1000px;
  display: flex;
  height: inherit;
}
.sngitem {
  display: flex;
  height: 90%;

  justify-content: center;
}
.single-item-container .item-name {
  font-size: 30px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.514);
}
.single-reviews-container {
  width: 1000px;
}
.single-item-container {
  width: inherit;

  justify-self: center;
}

.single-item-img {
  height: 400px;
  width: 400px;
}
.single-item-img img {
  height: inherit;
  width: inherit;
}
.single-item-info {
  width: 100%;
}
.single-item-info p {
  width: 90%;
}
.single-item-info-upper {
  display: flex;
  justify-content: flex-start;
}
.single-item-btns {
  display: flex;
  width: 200px;
  margin-left: 100px;
  flex-wrap: wrap;
  align-content: space-around;
}
.single-item-btns button {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
}

.single-item-price .old-price {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;

  text-align: center;
}
.buy-btn {
  height: 50px;
  font-size: 30px;
  background-color: #bb2904;
}
.buy-btn:hover {
  background-color: rgb(216, 139, 139);
}
.buy-btn:active {
  background-color: rgb(138, 64, 64) !important;
  transform: translateY(2px);
}
.single-reviews-list {
  padding-left: 20px;
  margin-top: 0;
  margin-right: 20px;

  list-style: none;
}
.single-reviews-form {
  margin-top: 20px;
  height: 320px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.single-reviews-form form {
  padding: 10px;
  height: inherit;
  width: inherit;
}
.single-rating h3 {
  margin-bottom: 0;
}
.single-review button {
  color: black;
  border: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  padding-right: 5px;
  font-weight: bold;
  align-items: center;
}
.single-review {
  padding-top: 10px;
  border-bottom: 1px solid black;
}
.author-review-container {
  display: flex;
  justify-content: space-between;
}
.author-rating-name {
  display: flex;
  align-items: center;
}
.author-rating-name b {
  margin-right: 15px;
  font-size: 20px;
}
.author-rating-name span {
  fill: rgb(255, 218, 55);
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.single-review button span {
  height: 100%;
  margin-right: 5px;
  width: 25px;
  color: white;
  background-color: rgb(255, 72, 0);
  font-size: 25px;
}
.single-rating {
  height: 70px;
  border-bottom: 1px solid black;
}
.single-text {
  width: auto;
}
.single-reviews-form button {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 0;
  color: white;
  background-color: rgb(127, 134, 130);
}
.single-reviews-form button:hover {
  filter: brightness(90%);
}
.single-reviews-form button:active {
  filter: brightness(70%);
}
.single-text textarea {
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  height: 100px;
  resize: none;
}
.not-logged-reviews {
  border-top: 1px solid rgba(0, 0, 0, 0.521);
  border-bottom: 1px solid rgba(0, 0, 0, 0.411);
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.664);
}
.rate {
  float: left;
  height: 46px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#goback-btn:hover {
  filter: brightness(90%);
}
#goback-btn:active {
  filter: brightness(60%);
}
#goback-btn {
  margin-left: 10px;
  margin-top: 10px;
  border: 0;
  height: 30px;
  background-color: #8a1d01;
  color: white;
  border-radius: 5px;
}
.adaptive-mobile {
  display: none;
}
@media only screen and (max-width: 1090px) {
  .single-reviews-container {
    width: inherit;
  }
  .sngitem .modal {
    height: min-content;
  }
  .sngitem .modal-dialog button {
    height: auto;
    font-size: 50px;
  }
  .single-item-img img {
    height: inherit;
    width: inherit;
  }
  .single-item {
    width: inherit;
  }
  .sngitem {
    width: inherit;
    height: inherit;
  }
  .single-item-container {
    width: inherit;
    height: inherit;
  }
  .single-item-container .item-name {
    height: fit-content;
    width: 95%;
  }
}
@media only screen and (max-width: 838px) {
  .single-reviews-container {
    width: inherit;
  }
  .single-item-info {
    width: inherit;
  }

  .single-reviews-container {
    width: inherit;
  }
}

@media only screen and (max-width: 733px) {
  .single-item-info-upper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .single-item-img img {
    width: 350px;
    height: 350px;
  }
  .single-item-btns {
    margin-left: 0;
  }
  .item-price {
    margin-bottom: 10px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .adaptive-mobile {
    display: block;
  }
  .not-adaptive {
    display: none !important;
  }
  .single-item {
    flex-direction: column;
  }
  .single-item-container .item-name {
    text-align: center;

    width: 100%;
  }
  .single-item-img {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
  }
  .item-price {
    text-align: center;
  }
  .single-item-btns {
    width: 100%;
    flex-direction: column;
  }
  .single-item-btns button {
    width: 90%;
  }
  .single-item-container .tocart-btn {
    font-size: 25px;
    height: 50px;
  }
  .single-item-info p {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .single-item-img img {
    width: 300px;
    height: 300px;
  }
  .single-item-img {
    width: 300px;
    height: 300px;
  }
}
