.single-item {
  width: 1000px;
  display: flex;
}
.sngitem {
  display: flex;
  justify-content: center;
}
.single-item-container .item-name {
  font-size: 30px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.514);
}
.single-item {
  border-bottom: 1px solid black;
}
.single-item-container {
  width: inherit;
  justify-self: center;
}
.single-item-img {
  height: 400px;
  width: 400px;
}
.single-item-img img {
  height: inherit;
  width: inherit;
}
.single-item-info {
  width: 100%;
}
.single-item-info p {
  width: 90%;
}
.single-item-info-upper {
  display: flex;
  justify-content: flex-start;
}
.single-item-btns {
  display: flex;
  max-width: 200px;
  margin-left: 100px;
  flex-wrap: wrap;
  align-content: space-around;
}
.single-item-btns button {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
}

.single-item-price .old-price {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  margin-left: 3px;
}
.buy-btn {
  height: 50px;
  font-size: 30px;
  background-color: rgb(202, 62, 62);
}
.buy-btn:hover {
  background-color: rgb(216, 139, 139);
}
.buy-btn:active {
  background-color: rgb(138, 64, 64) !important;
  transform: translateY(2px);
}
.single-reviews-list {
  margin-top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.384);
  list-style: none;
}
.single-reviews-form {
  margin-top: 20px;
  height: 320px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.single-reviews-form form {
  padding: 10px;
  height: inherit;
  width: inherit;
}
.single-rating h3 {
  margin-bottom: 0;
}
.single-rating {
  height: 70px;
  border-bottom: 1px solid black;
}
.single-text {
  width: auto;
}
.single-reviews-form button {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 0;
  color: white;
  background-color: rgb(127, 134, 130);
}
.single-reviews-form button:hover {
  filter: brightness(90%);
}
.single-reviews-form button:active {
  filter: brightness(70%);
}
.single-text textarea {
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  height: 100px;
  resize: none;
}
.not-logged-reviews {
  text-align: center;
  margin: 10px 0;
  margin-bottom: -8px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.664);
}
.rate {
  float: left;
  height: 46px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
@media only screen and (max-width: 1090px) {
  .single-item {
    width: 750px;
  }
}
